<div class="row">
  <div class="col-sm-2 col-sm-offset-3">
    <div class="plan_box">
      <h3>Plan Free</h3>
      <p>No Charge</p>
      <br>
      Good for Evaluation
    </div>
  </div>
  
  <div class="col-sm-2">
    <div class="plan_box">
      <h3>Plan Good</h3>
      <p>Minimal Charge</p>
      <br>
      Good for Business
    </div>
  </div>
  
  <div class="col-sm-2">
    <div class="plan_box">
      <h3>Plan Awesome</h3>
      <p>Slightly greater charge but worth</p>
      <br>
      Good for Enterprises
    </div>
  </div>
</div>